

.header {
  grid-area: h;
  background-color: #D9EEEB;
  border: 2px solid #FFFFFF;
  outline: 5px solid #D9EEEB;
  /* box-shadow:  0 0 10px 4px #A1D2CD; */
  margin: 10px 5px 5px 5px; 
}

.header img{
  width: 50px;
}

