


@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap');

.nav {
    grid-area: n;
    background-color: #FEC5C4;
    border: 4px solid #FFFFFF;
    outline: 6px solid #FEC5C4;
    margin: 5px;
    padding-left: 20px;
    line-height: 200%;
    font-family: 'Caveat Brush', cursive;
    font-size: 25px;
    color: #FFFFFF;
    box-shadow: 0 0 10px 4px #FEC5C4;
    
  }

  .item a {
      color: #FFFFFF;
      text-decoration: none;
  }

  .item a.activeNavLink {
      color: #3F536B;
  }

  